/* Base Formatting */
* { 
    box-sizing: border-box;
  }

  header {
      text-align: center;
  }

  body{
    background-image: url('../images/paper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Amatic SC', cursive;
  }



  /* Containers */
  div {
    margin: 50px;
    border: 3px solid black ;
    border-radius: 10px;
    width: 450px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
  }

  /* Text Formatting */
  h1 {
      color: rgb(106, 8, 233);
      font-size: 50px;
      font-family: 'Special Elite', cursive;
  }


