@using MASH
@using MASH.Models

<head>
    <title>M.A.S.H.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Special+Elite&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <header>
        <h1 class="">M.A.S.H.</h1>
        <h2 class="">Let's determine your destiny.</h2>
    </header>

    <main class="body">

        <div id="results">
            <h2>Your Results...</h2>
            <p>You will live in a: </p><br>
            <p>You will marry: </p><br>
            <p>Your transportation is: </p><br>
            <p>You will be a(n): </p><br>
            <p>You will have a pet: </p><br>
        </div>

    </main>
</body>
</html>
