<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>M.A.S.H.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Special+Elite&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <header>
        <h1 class="">M.A.S.H.</h1>
        <h3 class="">Let's determine your destiny.</h3>
    </header>

    <main class="">
        <div>
            <section class="choices" id="spouse">
                <h2 class="section-header">Life Partner</h2>
                <ol>
                    <li>
                        <select for="top-choice">
                            <option value="">Derek Morgan</option>
                            <option value="">Spencer Reid</option>
                            <option value="">Penelope Garcia</option>
                            <option value="">Emily Prentiss</option>
                        </select>
                    </li>
                    <li>
                        <select for="second-choice">
                            <option value="">Meredith Palmer</option>
                            <option value="">Dwight Schrute</option>
                            <option value="">Jan Levinson</option>
                            <option value="">Kevin Mallone</option>
                        </select>
                    </li>
                    <li>
                        <select for="bottom-choice">
                            <option value="">Cersei Lannister</option>
                            <option value="">Gustavo Fring</option>
                            <option value="">Hannibal Lector</option>
                            <option value="">Toby Flenderson</option>
                        </select>
                    </li>
                    <li>
                        <input type="text" id="user-input" required />
                    </li>
                </ol>
            </section>

            <section class="choices" id="transportation">
                <h2 class="section-header">Transportation</h2>
                <ol>
                    <li>
                        <select for="bottom-choice">
                            <option value="">Razor Scooter</option>
                            <option value="">
                                Hanging Out The Side of Your Best Friend's Ride
                            </option>
                            <option value="">Rollerblades</option>
                            <option value="">City Bus</option>
                        </select>
                    </li>
                    <li>
                        <select for="top-choice">
                            <option value="">Maserati</option>
                            <option value="">Aston Martin</option>
                            <option value="">Ferarri</option>
                            <option value="">Lamborghini</option>
                        </select>
                    </li>
                    <li>
                        <input type="text" id="user-input" required />
                    </li>
                    <li>
                        <select for="second-choice">
                            <option value="">Toyota</option>
                            <option value="">Ford</option>
                            <option value="">KIA</option>
                            <option value="">Chevy</option>
                        </select>
                    </li>
                </ol>
            </section>

            <section class="choices" id="career">
                <h2 class="section-header">Career</h2>
                <ol>
                    <li>
                        <input type="text" id="user-input" required />
                    </li>
                    <li>
                        <select for="second-choice">
                            <option value="">News Anchor</option>
                            <option value="">Veterinarian</option>
                            <option value="">Software Developer</option>
                            <option value="">Pilot</option>
                        </select>
                    </li>
                    <li>
                        <select for="bottom-choice">
                            <option value="">Assistant to the Regional Manager</option>
                            <option value="">Cashier</option>
                            <option value="">Circus Clown</option>
                            <option value="">Street Sweeper</option>
                        </select>
                    </li>
                    <li>
                        <select for="top-choice">
                            <option value="">Special Agent</option>
                            <option value="">Mob Boss</option>
                            <option value="">Drug Lord</option>
                            <option value="">Music Mogul</option>
                        </select>
                    </li>
                </ol>
            </section>

            <section class="choices" id="pet">
                <h2 class="section-header">Pet</h2>
                <ol>
                    <li>
                        <select for="second-choice">
                            <option value="">Lemur</option>
                            <option value="">Peacock</option>
                            <option value="">Sloth</option>
                            <option value="">Platypus</option>
                        </select>
                    </li>
                    <li>
                        <input type="text" id="user-input" required />
                    </li>
                    <li>
                        <select for="top-choice">
                            <option value="">Tiger</option>
                            <option value="">Bear</option>
                            <option value="">Shark</option>
                            <option value="">Gorilla</option>
                        </select>
                    </li>
                    <li>
                        <select for="bottom-choice">
                            <option value="">Cat</option>
                            <option value="">Dog</option>
                            <option value="">Hamster</option>
                            <option value="">Fish</option>
                        </select>
                    </li>
                </ol>
            </section>

            <!-- <div class="choices" id="city">
              <h2 class="section-header">City You'll Live</h2>
              <ol>
                <li>
                  <input type="text" id="user-input" />
                </li>
                <li>
                  <select for="bottom-choice">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </li>

                <li>
                  <select for="top-choice">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </li>
                <li>
                  <select for="second-choice">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </li>
              </ol>
            </div> -->

            <button type="submit">Your Future Awaits</button>
        </div>

    </main>

    <footer>
      <ul>
        <li><a href="#" class="social twitter">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/jessica-thomas-79b03946/" target="_blank" class="social linkedin">LinkedIn</a></li>
        <li><a href="#" class="social github">Github</a></li>
      </ul>
      <p class="copyright">Copyright 2020, Jessica Thomas</p>
    </footer>
</body>
</html>
