/* Base Formatting */
* {
    box-sizing: border-box;
    margin: 0, 0;
}

header {
    text-align: center;
}

body {
    background-image: url('../images/paper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
}

#form {
    padding: 10px;
}




/* Text Formatting */
h1 {
    color: rgb(106, 8, 233);
    font-size: 50px;
    font-family: 'Special Elite', cursive;
    margin: 0, 0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}


td {
    font-size: 25px;
}
